@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype'),
        url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.eot');
    src: url('fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Medium.woff2') format('woff2'),
        url('fonts/Montserrat-Medium.woff') format('woff'),
        url('fonts/Montserrat-Medium.ttf') format('truetype'),
        url('fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('fonts/EBGaramond-Regular.eot');
    src: url('fonts/EBGaramond-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/EBGaramond-Regular.woff2') format('woff2'),
        url('fonts/EBGaramond-Regular.woff') format('woff'),
        url('fonts/EBGaramond-Regular.ttf') format('truetype'),
        url('fonts/EBGaramond-Regular.svg#EBGaramond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    font-family: 'Montserrat', 'Arial', 'Verdana', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFF;
}

body {
    background: #363138;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-family: 'EB Garamond';
    font-weight: normal;
    font-size: 82px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #FFF;
}

h2 {
    font-family: 'EB Garamond';
    font-weight: normal;
    font-size: 82px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #FFF;
}

h3 {
    font-family: 'EB Garamond';
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFF;
}

h4 {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFF;
}

p {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFF;
}

a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFF;
}

li {
    list-style: none;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFF;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 25px;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-- Slick --*/

.slick-arrow {
    display: block;
    width: 60px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    opacity: .8;
    margin-top: -15px;
    background: transparent;
    border: 1px solid transparent;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow:hover {
    opacity: 1;
}

.slick-dots {
    display: flex;
    display: -webkit-flex;
    justify-content: stretch;
    -webkit-justify-content: stretch;
    height: 2px;
    margin: 31px 0 26px 0;
    background: #C2A9DC;
}

.slick-dots li {
    flex: 1;
    line-height: 1;
    font-size: 0;
    height: 2px;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    position: relative;
    border: none;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-dots li.slick-active button {
    background: #4A0E73;
}

/*-- /Slick --*/

.dark_bg {
    background: #363138;
}

.lignt_bg {
    background: #E9D5FE;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header_site_templ {
    display: flex;
    display: -webkit-flex;
    padding: 19px 0 12px 0;
    border-bottom: 1px solid #C4B0D9;
}

.header_site_templ > .left {
    width: 30%;
    padding: 10px 10px 10px 0;
}

.header_site_templ > .center {
    width: 44%;
    padding: 15px 10px 10px 10px;
}

.header_site_templ > .right {
    width: 26%;
    padding: 17px 0 10px 10px;
    text-align: right;
}

.logo {
    font-family: 'EB Garamond';
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    color: #C4B0D9;
}

.main_nav {
    display: flex;
    display: -webkit-flex;
}

.main_nav li {
    padding: 5px 23px;
}

.main_nav li a {
    border-bottom: 1px solid transparent;
    font-size: 16px;
    line-height: 20px;
    color: #C4B0D9;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main_nav li a:link,
.main_nav li a:visited {
    border-bottom: 1px solid transparent;
}

.main_nav li a:active,
.main_nav li a.active {
    border-bottom: 1px solid #C4B0D9;
}

.main_nav li a:hover {
    border-bottom: 1px solid #C4B0D9;
}

.tel_link {
    display: inline-flex;
    display: -webkit-inline-flex;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #C4B0D9;
}

.tel_link span {
    padding: 2px 0 0 0;
    margin-left: 12px;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tel_link:link span,
.tel_link:visited span {
    border-bottom: 1px solid transparent;
}

.tel_link:active span,
.tel_link.active span {
    border-bottom: 1px solid #C4B0D9;
}

.tel_link:hover span {
    border-bottom: 1px solid #C4B0D9;
}

/* ----- Responsive Menu Button ------ */

.respmenubtn {
    /*display: inline-block;*/
    display: none;
    vertical-align: top;
    width: 45px;
    height: 37px;
    background: transparent;
    cursor: pointer;
    position: relative;
    top: 6px;
    z-index: 11;
    border: 1px solid transparent;
}

.respmenubtn span {
    display: block;
    width: 27px;
    height: 2px;
    background: #C4B0D9;
    margin: 0 auto 7px auto;
    -webkit-transition-property: transform, border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0 auto;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    background: #C4B0D9;
}

.respmenubtn.active span {
    position: relative;
    width: 35px;
    top: 2px;
    left: 0;
    background: #C4B0D9;
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 0;
    position: relative;
    top: 4px;
    left: 5px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Main Pages --*/

.section_1 {
    position: relative;
}

.shape {
    position: absolute;
}

.shape_1 {
    width: 492px;
    height: 492px;
    background: #C4B0D9;
    filter: blur(600px);
    top: 22%;
    right: 0;
}

.shape_2 {
    width: 375px;
    height: 375px;
    background: #C4B0D9;
    filter: blur(600px);
    top: 36%;
    left: 0;
}

.shape_3 {
    width: 351px;
    height: 351px;
    background: #C4B0D9;
    filter: blur(600px);
    top: 60.5%;
    right: 19%;
}

.h1_wrapp {
    padding: 57px 0 20px 0;
}

.h1_wrapp h1 {
    position: relative;
}

.h1_wrapp h1:nth-child(1) {
    left: 10%;
}

.h1_wrapp h1:nth-child(2) {
    left: 46%;
}

.h1_wrapp h1:nth-child(3) {
    left: 32%;
}

.title_shape {
    width: 21px;
    height: 21px;
    position: absolute;
    background: url(img/title_star.svg) no-repeat center;
    background-size: contain;
}

.title_shape_1 {
    top: 36px;
    left: 211px;
}

.title_shape_2 {
    top: 36px;
    left: 355px;
}

.promo_tree_cols {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    margin-top: -100px;
}

.promo_tree_cols > div:nth-child(1) {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    width: 350px;
}

.promo_tree_cols > div:nth-child(2) {
    width: calc(60% - 350px);
}

.promo_tree_cols > div:nth-child(3) {
    width: 40%;
    position: relative;
}

.circle_image_wrapp {
    position: relative;
}

.circle_image_star {
    position: absolute;
    bottom: -35px;
    left: -43px;
    z-index: 2;
}

.thumb_01 {
    width: 234px;
}

.thumb_01_header {
    min-height: 155px;
    padding-right: 11%;
}

.thumb_01_header p {
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}

.video_thumb {
    display: block;
    width: 234px;
    height: 234px;
    overflow: hidden;
    position: relative;
}

.video_thumb img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.video_thumb:before {
    display: block;
    content: "";
    width: 150px;
    height: 150px;
    background: rgba(56, 51, 58, 0.3);
    mix-blend-mode: normal;
    filter: blur(50px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 2;
}

.video_thumb:after {
    display: block;
    width: 34px;
    height: 39px;
    background: url(img/play.svg) no-repeat center;
    background-size: contain;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 3;
}

.callback_btn_circle {
    display: block;
    width: 136px;
    height: 136px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: transparent;
    border: none;
    background: url(img/callback_btn_circle.svg) no-repeat center;
    background-size: contain;
}

.promo_tree_cols .callback_btn_circle {
    margin: 55px auto;
}

.star_circle {
    position: absolute;
    top: -94px;
    right: 0;
}

.sect_2 {
    padding: 110px 0 0 0;
}

.h2_title h2 {
    position: relative;
}

.h2_title h2:nth-child(2) {
    left: 19%;
}

.h2_title h2:nth-child(3) {
    left: 39%;
}

.title_shape_3 {
    top: 37px;
    left: 411px;
}

.title_shape_4 {
    top: 37px;
    left: 19px;
}

.two_cols {
    display: flex;
    display: -webkit-flex;
    margin-top: -101px;
}

.two_cols > div:nth-child(1) {
    width: calc(100% - 237px);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 0 10px 0 0;
}

.two_cols > div:nth-child(2) {
    width: 237px;
}

.thumbnails_2_wrapp {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    min-width: 100%;
    margin: 32px -20px 0 -20px;
}

.thumb_2 {
    width: 33.33%;
    max-width: 250px;
    padding: 20px 20px;
}

.thumb_2 h3 {
    font-size: 22px;
    line-height: 30px;
    color: #FFF;
}

.thumb_2:before {
    display: block;
    content: "";
    margin: 20px 0;
    width: 45px;
    height: 45px;
    background: url(img/thumb_2_shape.svg) no-repeat center;
    background-size: contain;
}

.sect_3 {
    padding: 99px 0 41px 0;
}

.h2_title_2 > h2:nth-child(1) {
    left: 10%;
}

.h2_title_2 > h2:nth-child(2) {
    left: 10%;
}

.h2_title_2 > h2:nth-child(3) {
    left: 39.5%;
}

.title_shape_5 {
    top: 37px;
    left: 159px;
}

.single_img_wrapp {
    /*height: 320px;*/
    height: 570px;
    margin: 62px 0 29px 0;
    background-size: cover;
    background-position: center;
}

.thumbnails_3_wrapp {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    max-width: 980px;
    margin: 20px auto 7px auto;
}

.thumb_3 {
    width: 33.33%;
    padding: 25px 25px;
}

.thumb_3 p {
    font-size: 18px;
    line-height: 27px;
    color: #FFF;
}

.star_circle_2 {
    display: block;
    margin: 0 auto;
}

/*-- /Section 1 - Main Pages --*/

/*-- Section 2 - Main Pages --*/

.section_2 {
    padding: 125px 0 75px 0;
}

section {
    position: relative;
}

section > .row {
    position: relative;
    z-index: 2;
}

.shape_4 {
    top: 0;
    left: 0;
}

.shape_5 {
    top: 0;
    right: 0;
}

.shape_6 {
    top: 49.5%;
    left: 0;
}

.dark h2 {
    color: #19171A;
}

.title_shape_dark {
    background: url(img/dark_title_star.svg);
}

.h2_title_3 > h2:nth-child(2) {
    left: 30%;
}

.h2_title_3 > h2:nth-child(3) {
    left: 30%;
}

.title_shape_6 {
    top: 38px;
    left: 578px;
}

.two_cols_2 {
    display: flex;
    display: -webkit-flex;
    margin-top: -83px;
}

.two_cols_2 > div:nth-child(1) {
    width: 234px;
}

.two_cols_2 > div:nth-child(2) {
    width: calc(100% - 234px);
    padding-left: 120px;
}

.cllback_btn_circle_2 {
    display: block;
    width: 136px;
    height: 136px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: transparent;
    border: none;
    background: url(img/callback_btn_circle_dark.svg) no-repeat center;
    background-size: contain;
}

.two_cols_2 .cllback_btn_circle_2 {
    margin: 74px auto;
}

.thumbnails_4_wrapp {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 125px -77px 20px -77px;
}

.thumb_4 {
    width: 50%;
    padding: 20px 77px;
    position: relative;
}

.thumb_4:before {
    display: block;
    content: "";
    width: 45px;
    height: 45px;
    margin: 10px 0 22px 0;
    background: url(img/thumb_4_star.svg) no-repeat center;
    background-size: contain;
}

.thumb_4 h3 {
    font-size: 22px;
    line-height: 30px;
    color: #363138;
}

.thumb_4 p {
    padding: 8px 0;
    font-size: 18px;
    line-height: 32px;
    color: #19171A;
}

p.price {
    font-size: 14px;
    line-height: 24px;
    color: #19171A;
}

.thumb_4 p.price {
    padding: 2px 0;
}

.thumb_4_img {
    width: 50%;
    margin-top: 13px;
    position: relative;
    left: -50px;
}

.thumb_4_img img {
    display: block;
    width: 100%;
    height: auto;
}

.slider_1_wrapp {
    padding: 89px 0 78px 0;
}

.slide_1 {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider_1_arrows {
    margin-left: -4px;
}

.slider_1_arrows .slick-arrow {
    display: inline-block !important;
    vertical-align: top;
    margin-top: 0;
    position: relative;
}

.slider_1_arrows .slick-prev {
    margin-right: 29px;
}

.slider_1_arrows .slick-next {
    margin-left: 29px;
}

.h2_title_4 h2:nth-child(1) {
    left: 10%;
}

.h2_title_4 h2:nth-child(2) {
    left: 18.5%;
}

.title_shape_7 {
    top: 38px;
    left: 504px;
}

.slider_2_wrapp {
    padding: 22px 0;
}

.slide_2 {
    display: flex;
    display: -webkit-flex;
    max-width: 938px;
}

.slide_2 > div:nth-child(1) {
    width: 464px;
}

.slide_2 > div:nth-child(2) {
    width: calc(100% - 464px);
    padding-right: 30px;
}

.slide_2 .inner {
    padding-top: 152px;
}

.slide_2 h3 {
    padding: 20px 0;
    font-size: 32px;
    line-height: 1.1;
    color: #363138;
}

.slide_2 p {
    padding: 20px 0;
    font-size: 18px;
    line-height: 30px;
    color: #19171A;
}

.slide_2 .cllback_btn_circle_2 {
    margin-top: 19px;
}

.slider_2_arrows {
    margin-left: -4px;
}

.slider_2_arrows .slick-arrow {
    display: inline-block !important;
    vertical-align: top;
    margin-top: 0;
    position: relative;
}

.slider_2_arrows .slick-prev {
    margin-right: 29px;
}

.slider_2_arrows .slick-next {
    margin-left: 29px;
}

.slider_2 .slick-dots {
    margin: 21px 0 26px 0;
}

/*-- /Section 2 - Main Pages --*/

/*-- Section 3 - Main Pages --*/

.section_3 {
    padding: 70px 0 31px 0;
}

.shape_7 {
    width: 492px;
    height: 492px;
    background: #C4B0D9;
    filter: blur(600px);
    top: 5%;
    right: 0;
}

.shape_8 {
    width: 375px;
    height: 375px;
    background: #C4B0D9;
    filter: blur(600px);
    top: 25.5%;
    left: 0;
}

.shape_9 {
    width: 492px;
    height: 492px;
    background: #C4B0D9;
    filter: blur(600px);
    top: 58%;
    right: 0;
}

.shape_10 {
    width: 375px;
    height: 375px;
    background: #C4B0D9;
    top: 79%;
    left: 0;
    filter: blur(600px);
}

.articles {
    padding: 43px 0;
}

.article {
    display: flex;
    display: -webkit-flex;
    margin: 40px 0;
}

.article > div:nth-child(odd) {
    width: 50%;
    display: flex;
    display: -webkit-flex;
}

.article > div:nth-child(even) {
    width: 50%;
    padding-left: 10%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.article:nth-child(even) > div:nth-child(odd) {
    order: 2;
}

.article:nth-child(even) > div:nth-child(even) {
    padding-left: 0;
    padding-right: 10%;
    order: 1;
}

.article_img_box {
    display: block;
    height: 100%;
    flex: 1;
    min-height: 583px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.article_img_box:before {
    display: block;
    content: "";
    width: 300px;
    height: 300px;
    background: rgba(56, 51, 58, 0.3);
    mix-blend-mode: normal;
    filter: blur(100px);
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.article_img_box:after {
    display: block;
    content: "";
    width: 49px;
    height: 54px;
    background: url(img/play_2.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 3;
}

.article_img_box img {
    display: block;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.article h3 {
    font-size: 32px;
    line-height: 1.1;
    color: #FFF;
}

.article ul {
    padding: 14px 0 14px 10px;
}

.article ul li {
    padding-left: 10px;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}

.article ul li:before {
    display: block;
    content: "";
    width: 2px;
    height: 2px;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 0;
}

.article p {
    padding: 16px 0;
    font-size: 18px;
    line-height: 32px;
    color: #FFF;
}

/*-- /Section 3 - Main Pages --*/

/*-- Section 4 - Main Pages --*/

.section_4 {
    padding: 126px 0 101px 0;
}

.shape_11 {
    top: -316px;
    left: -53px;
}

.shape_12 {
    top: 0;
    right: 0;
}

.h2_title_5 h2:nth-child(1) {
    left: 10%;
}

.h2_title_5 h2:nth-child(2) {
    left: 44%;
}

.title_shape_8 {
    top: 38px;
    left: 126px;
}

.two_cols_3 {
    display: flex;
    display: -webkit-flex;
    padding: 77px 0 20px 0;
}

.two_cols_3 > div:nth-child(1) {
    width: calc(100% - 350px);
    padding-right: 90px;
}

.two_cols_3 > div:nth-child(2) {
    width: 350px;
}

.thumbnails_5_wrapp {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 86px -15px;
}

.thumb_5 {
    width: calc(50% - 30px);
    margin: 36px 15px;
    padding-left: 67px;
    position: relative;
}

.thumb_5:before {
    display: block;
    content: "";
    width: 45px;
    height: 45px;
    background: url(img/thumb_4_star.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    top: -2px;
    left: 0;
}

.thumb_5_inner {
    min-height: 117px;
}

.thumb_5_inner h3 {
    font-size: 22px;
    line-height: 30px;
    color: #363138;
}

.thumb_5_inner p {
    padding: 8px 0;
    font-size: 18px;
    line-height: 30px;
    color: #19171A;
}

.thumb_5_inner p.price {
    padding: 0;
}

.more_link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-right: 70px;
    font-size: 16px;
    line-height: 30px;
    color: #4A0E73;
}

.more_link:after {
    display: block;
    content: "";
    width: 54px;
    height: 16px;
    background: url(img/more_arrow.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 6px;
    right: 0;
    -webkit-transition-property: right;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: right;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: right;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: right;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: right;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.more_link:hover:after {
    right: -10px;
}

.star_img_2 {
    position: absolute;
    bottom: -36px;
    left: -43px;
}

.thumb_5_2 {
    width: 100%;
    margin: 72px 0;
}

.two_cols_3_2 {
    display: flex;
    display: -webkit-flex;
    padding: 30px 0;
}

.two_cols_3_2 > div:nth-child(1) {
    width: 353px;
}

.two_cols_3_2 > div:nth-child(2) {
    width: calc(100% - 353px);
    padding-left: 10%;
}

/*-- /Section 4 - Main Pages --*/

/*-- Section 5 - Main Pages --*/

.section_5 {
    padding-top: 69px;
}

.shape_13 {
    top: 0;
    left: 0;
}

.shape_14 {
    top: 0;
    right: 0;
}

.shape_15 {
    top: 952px;
    left: 0;
}

.shape_16 {
    top: 2527px;
    left: 0;
}

.shape_17 {
    bottom: 0;
    right: -300px;
}

.h2_title_6 > h2:nth-child(2) {
    left: 32%;
}

.title_shape_white {
    background: url(img/title_star_white.svg) no-repeat center;
}

.title_shape_9 {
    top: 38px;
    left: 114px;
}

.time_items {
    margin: 66px 0 71px 0;
    position: relative;
}

.time_items_star {
    position: absolute;
    top: 137px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.time_item {
    display: flex;
    display: -webkit-flex;
    margin-top: 37px;
    padding: 22px 0 22px 0;
    border-bottom: 1px solid #C4C4C4;
}

.time_item > div:nth-child(1) {
    width: 150px;
    padding-top: 6px;
}

.time_item > div:nth-child(2) {
    width: calc(100% - 413px);
}

.time_item > div:nth-child(3) {
    width: 263px;
    padding-top: 3px;
}

.time_item h3 {
    font-size: 32px;
    line-height: 1.1;
    color: #FFF;
}

.days {
    position: relative;
    margin-left: 10px;
    padding-left: 13px;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}

.days:before {
    display: block;
    content: "";
    width: 2px;
    height: 2px;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 0;
}

.more_link_2 {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-right: 80px;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFF;
}

.more_link_2:after {
    display: block;
    content: "";
    width: 51px;
    height: 16px;
    background: url(img/more_arrow_white.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 6px;
    right: 0;
    -webkit-transition-property: right;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: right;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: right;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;
    -o-transition-property: right;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;
    transition-property: right;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.more_link_2:hover:after {
    right: -10px;
}

.h2_title_7 h2:nth-child(1) {
    left: 10%;
}

.h2_title_7 h2:nth-child(2) {
    left: 52%;
}

.title_shape_10 {
    top: 38px;
    left: 20px;
}

.slider_3_wrapp {
    padding: 24px 0;
}

.testimonial {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.testimonial > div:nth-child(1) {
    width: 356px;
    padding-top: 50px;
}

.testimonial > div:nth-child(2) {
    width: calc(100% - 474px);
    padding-left: 10%;
    position: relative;
}

.testimonial > div:nth-child(3) {
    width: 118px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.testimonial > div:nth-child(4) {
    padding: 17px 0 0 0;
}

.testimonial > div:nth-child(2):after {
    display: block;
    content: "";
    width: 100%;
    height: 219px;
    background: linear-gradient(-90deg, rgba(56, 50, 58, 0) 0%, #363138 100%);
    background: -webkit-linear-gradient(-90deg, rgba(56, 50, 58, 0) 0%, #363138 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.testimonial_img {
    height: 351px;
    width: 100%;
    max-width: 351px;
    background-color: #C4C4C4;
    position: relative;
}

.testimonial_img > img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.testimonial_descript {
    max-width: 460px;
}

.testimonial_descript p {
    padding: 12px 0;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}

.testimonial_author {
    width: 117px;
    height: 117px;
    position: relative;
    overflow: hidden;
    background-color: #C4C4C4;
}

.testimonial_author img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.author_link_wrapp h3 {
    padding: 8px 0;
    font-size: 32px;
    line-height: 1.1;
}

.link_2 {
    font-size: 14px;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;
    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;
    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.link_2:link,
.link_2:visited {
    border-bottom: 1px solid transparent;
}

.link_2:active,
.link_2.active {
    border-bottom: 1px solid #fff;
}

.link_2:hover {
    border-bottom: 1px solid #fff;
}

.slider_3 .slick-dots li.slick-active button {
    background: #fff;
}

.slider_3 .slick-dots {
    margin: 29px 0 26px 0;
}

.slider_3_arrows {
    margin-left: -4px;
}

.slider_3_arrows .slick-arrow {
    display: inline-block !important;
    vertical-align: top;
    margin-top: 0;
    position: relative;
}

.slider_3_arrows .slick-prev {
    margin-right: 29px;
}

.slider_3_arrows .slick-next {
    margin-left: 29px;
}

.sect_8 {
    padding: 77px 0 16px 0;
}

.h2_title_8 h2:nth-child(1) {
    left: 10%;
}

.h2_title_8 h2:nth-child(2) {
    left: 19.5%;
}

.title_shape_11 {
    top: 38px;
    left: 196px;
}

.slider_4_wrapp {
    padding: 101px 0 78px 0;
    position: relative;
}

.slider_star {
    position: absolute;
    top: 42px;
    right: 60px;
    z-index: 2;
}

.slide_4 {
    height: 600px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.slider_4_arrows {
    margin-left: -4px;
}

.slider_4_arrows .slick-arrow {
    display: inline-block !important;
    vertical-align: top;
    margin-top: 0;
    position: relative;
}

.slider_4_arrows .slick-prev {
    margin-right: 29px;
}

.slider_4_arrows .slick-next {
    margin-left: 29px;
}

.slider_4 .slick-dots li.slick-active button {
    background: #fff;
}

.h2_title_9 h2:nth-child(1) {
    left: 18%;
}

.h2_title_9 h2:nth-child(2) {
    left: 40%;
}

.title_shape_12 {
    top: 38px;
    left: 101px;
}

.questions {
    padding: 45px 0 100px 0;
}

.question_item {
    margin-bottom: 10px;
}

.question_item_title {
    cursor: pointer;
    padding: 23px 54px 23px 0;
    border-bottom: 1px solid #C4C4C4;
    position: relative;
}

.question_item_title:after {
    display: block;
    content: "";
    width: 50px;
    height: 16px;
    background: url(img/right_arrow_white.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 35px;
    right: 0;
}

.question_item.active .question_item_title:after {
    background-image: url(img/left_arrow_white.svg);
}

.question_item_title h3 {
    font-size: 32px;
    line-height: 1.1;
    color: #FFF;
}

.question_item_dropdown {
    display: none;
    padding: 36px 0 17px 0;
}

.question_item_dropdown > div {
    max-width: 576px;
}

.question_item_dropdown p {
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}

.sect_10 {
    padding: 42px 0 20px 0;
}

.h2_title_10 h2:nth-child(2) {
    left: 28%;
}

.title_shape_13 {
    top: 38px;
    left: 552px;
}

.title_shape_14 {
    top: 38px;
    left: 498px;
}

.title_shape_15 {
    top: 38px;
    left: 731px;
}

.two_cols_2_2 {
    margin-top: 0;
    padding: 48px 0 20px 0;
}

.thumb_4.white h3 {
    color: #fff;
}

.thumb_4.white p {
    color: #fff;
}

.thumb_4.white:before {
    background: url(img/thumb_4_star_white.svg) no-repeat center;
}

.soc_links {
    padding: 20px 0 10px 0;
}

.soc_links li {
    padding: 1px 0;
}

.soc_links li a {
    font-size: 18px;
    line-height: 20px;
    color: #FFF;
    border-bottom: 1px solid #fff;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;
    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;
    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.soc_links li a:link,
.soc_links li a:visited {
    border-bottom: 1px solid #fff;
}

.soc_links li a:active,
.soc_links li a.active {
    border-bottom: 1px solid transparent;
}

.soc_links li a:hover {
    border-bottom: 1px solid transparent;
}

/*-- /Section 5 - Main Pages --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    padding: 1px 0;
    z-index: 2;
}

.footer_templ {
    display: flex;
    display: -webkit-flex;
    padding: 31px 0 64px 0;
    border-top: 1px solid #C4C4C4;
}

.footer_templ > div:nth-child(1) {
    width: 355px;
    padding: 10px 10px 10px 0;
}

.footer_templ > div:nth-child(2) {
    width: calc(100% - 710px);
    text-align: center;
    padding: 23px 10px 10px 10px;
}

.footer_templ > div:nth-child(3) {
    width: 355px;
    padding: 15px 0 10px 10px;
    text-align: right;
}

.contacts_wrapp p {
    font-size: 16px;
    line-height: 30px;
    color: #FFF;
}

.copyright {
    font-size: 16px;
    line-height: 30px;
    color: #FFF;
}

.studio_link {
    display: inline-flex;
    display: -webkit-inline-flex;
}

.studio_link > div:nth-child(1) {
    padding: 6px 17px 0 0;
}

.studio_link > div:nth-child(2) {
    width: 120px;
}

.studio_link p {
    font-weight: 500;
    font-size: 14px;
    line-height: 34px;
    color: #FFF;
}

/*-- Animation --*/

.leftSlice {
    position: relative;
    left: -3%;
    opacity: 0;
    -webkit-transition-property: left, opacity;
    -webkit-transition-duration: .7s;
    -webkit-transition-delay: .3s;
    -webkit-transition-timing-function: ease-in-out;

    -moz-transition-property: left, opacity;
    -moz-transition-duration: .7s;
    -moz-transition-delay: .3s;
    -moz-transition-timing-function: ease-in-out;

    -ms-transition-property: left, opacity;
    -ms-transition-duration: .7s;
    -ms-transition-delay: .3s;
    -ms-transition-timing-function: ease-in-out;

    -o-transition-property: left, opacity;
    -o-transition-duration: .7s;
    -o-transition-delay: .3s;
    -o-transition-timing-function: ease-in-out;

    transition-property: left, opacity;
    transition-duration: .7s;
    transition-delay: .3s;
    transition-timing-function: ease-in-out;
}

.animate.active.leftSlice {
    left: 0;
    opacity: 1;
}

.fadeIn {
    opacity: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .7s;
    -webkit-transition-delay: .3s;
    -webkit-transition-timing-function: ease-in-out;

    -moz-transition-property: opacity;
    -moz-transition-duration: .7s;
    -moz-transition-delay: .3s;
    -moz-transition-timing-function: ease-in-out;

    -ms-transition-property: opacity;
    -ms-transition-duration: .7s;
    -ms-transition-delay: .3s;
    -ms-transition-timing-function: ease-in-out;

    -o-transition-property: opacity;
    -o-transition-duration: .7s;
    --transition-delay: .3s;
    -o-transition-timing-function: ease-in-out;

    transition-property: opacity;
    transition-duration: .7s;
    transition-delay: .3s;
    transition-timing-function: ease-in-out;
}

.animate.active.fadeIn {
    opacity: 1;
}

.zoomFade {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition-property: opacity, transform;
    -webkit-transition-duration: .7s;
    -webkit-transition-delay: .3s;
    -webkit-transition-timing-function: ease-in-out;

    -moz-transition-property: opacity, transform;
    -moz-transition-duration: .7s;
    -moz-transition-delay: .3s;
    -moz-transition-timing-function: ease-in-out;

    -ms-transition-property: opacity, transform;
    -ms-transition-duration: .7s;
    -ms-transition-delay: .3s;
    -ms-transition-timing-function: ease-in-out;

    -o-transition-property: opacity, transform;
    -o-transition-duration: .7s;
    --transition-delay: .3s;
    -o-transition-timing-function: ease-in-out;

    transition-property: opacity, transform;
    transition-duration: .7s;
    transition-delay: .3s;
    transition-timing-function: ease-in-out;
}

.animate.active.zoomFade {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.fadeInUp {
    position: relative;
    bottom: -20px;
    opacity: 0;
    -webkit-transition-property: bottom, opacity;
    -webkit-transition-duration: .7s;
    -webkit-transition-delay: .3s;
    -webkit-transition-timing-function: ease-in-out;

    -moz-transition-property: bottom, opacity;
    -moz-transition-duration: .7s;
    -moz-transition-delay: .3s;
    -moz-transition-timing-function: ease-in-out;

    -ms-transition-property: bottom, opacity;
    -ms-transition-duration: .7s;
    -ms-transition-delay: .3s;
    -ms-transition-timing-function: ease-in-out;

    -o-transition-property: bottom, opacity;
    -o-transition-duration: .7s;
    -o-transition-delay: .3s;
    -o-transition-timing-function: ease-in-out;

    transition-property: bottom, opacity;
    transition-duration: .7s;
    transition-delay: .3s;
    transition-timing-function: ease-in-out;
}

.animate.active.fadeInUp {
    bottom: 0;
    opacity: 1;
}

/*-- /Animation --*/